
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}
                                    /*Header Area*/
/*.navbar-label is a class given to strong html tag to give custom settings to page logo {COVID-19}*/
.navbar-label{
        font-size: 45px;
        
    }                    
/*#document_header to make sure headers not scroll on different screen sizes*/
/*This ID is name of header div*/
#document_header{
    overflow: hidden;
    padding: 0px;
       
}

/*.my_navbar a: gives custom styling to bootstrap navbar */
.my_navbar a {
    color:#000 !important;
    padding: 2px;
    margin: 2px;
    text-align: center;
    font-size: 18px;
    font-style: bolder!important;
    }
/*.my_navbar  a:hover: gives hovering eddfect to Navbar navigation links */
.my_navbar  a:hover {
    background-color: lavenderblush;
}
.active {
    background-color: lavenderblush;
}
/*navbar is a part of Jumbotron I have designed it in this way*/
/*.jumbotron is to give custom settings to web page*/
.jumbotron{
    padding: 5px;
    margin-bottom: 2rem;
    background-color: #2e82d5;
    border-radius: 0rem;
    overflow: hidden;
    }
/*these settings are given to social link to control their sizing colour and padding, hovering etc..*/
 
 i{
    font-size: 38px ;
    margin-right: 22px;
    padding: 4px;
    border: 2px solid #000;
 
}
i:hover{
    background-color: #fff;
}
/*button-col-css class is for custom css settings for bootstrap column for better apperance*/
.button-col-css{
     margin-top:10px;
     margin-bottom: 10px;
}
/*social-link-col-css class is for custom css settings for bootstrap column*/
.social-link-col-css{
       margin-bottom:2px;
       padding-right:10px; 
 }
/*Covid casualties up to day makes date an 
important aspect thats why this class is written to give extra importatnce to date shown */
.date-heading{
    font-size: 26px;
    font-style: bolder;
    }
 /*To give custom settings to horizontal line to make it stand out*/
   .custom-hr{
       width: 175px;
       background-color: #000;
   }
   .font-setting-for-js-data{
       font-size: 18px;
       font-style: bolder;
       color:#000;
   }

                                /*Footer Area*/
/*Footer has three text elments in it .p-font is giving those paragraph customs features*/
.p-font{
    font-size: 16px;
}
/*.Footer-cols is a class given to whole footer elements*/
.footer-cols{
    background-color: #2e82d5 !important;
    padding: 15px;
}

/*.auto-margins class is given to copyright bottom row to keep text in center*/
.auto-margins{
    padding-top: 2px;
    margin: auto !important;
}
/*.bg-light-grey class is given to give custom background and font color to copyright footer  */
.bg-light-grey{
    
    color: #fff;
 }
 .bg-grey{
      background-color: #333;
 }
.footer-contact-me-list {
  list-style-type: none;
 
}

                                            /*Media Queries*/

@media only screen and (max-width: 600px) {
 .hide-on-mobile {display: none !important;}
}

@media only screen and (min-width: 992px) {
    
    .hide-on-large{display: none !important;}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
   
    .hide-on-large{display: none !important;}
    }

@media only screen and (max-width: 600px) {

 
}


@media only screen and (max-width: 767px) {
    
    }


    
@media only screen and (max-width: 1024px){
  .hide-on-mobile {display: none !important;}
}

@media only screen and (min-width: 768px) and (max-width:991px){
  
}

/*symptoms page*/

/*I want stand out border class for symptoms*/

.high-temperature{
    border: 2px solid green;
   

    padding: 5px;
    margin: auto;
}
.symptoms-warning{
  
    margin-left: 10px;
}
.heading-hr{
    height: 5px;
    width:100%;
    background-color: #2e82d5;
}
.card-title{
    background-color:#2e82d5; 
    color:#fff;
     padding:5px;
}