/*Header Area*/
#document_header{
    overflow: hidden;
}
.my_navbar{
    background: #333;
  }
.my_navbar a {
    color:#fff;
    }

    .navbar{
        padding-left:0px;
       
    }
    strong{
        font-size: 45px;
    }
.hr-divider{

    background-color: red !important;
    height: 5px;
    margin: 0;
    padding: 0;
    }
    #hero-section{
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
    }
    .jumbotron{
        padding: 5px;
        margin-bottom: 1rem;
        background-color: #2e82d5;
        border-radius: 0rem;
            overflow: hidden;
            border: 2px solid #333;
    }

.general_hr{
    padding: 0px;
    margin: 0px;
}
#user_input h6{
    font-size: 18px;
}
i{
     font-size: 38px;
    margin-right: 26px;
}
.date-heading{
    margin-right: 32px;
   
}